body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 3vmin);
  color: #20242A;
  background-size: cover;
  background-attachment: fixed;
  background-position: right center;
  background-repeat: no-repeat;
}

/* 解决 IOS 端无法固定背景图片的问题 */
@media screen and (max-width: 767px) {
  body{
    background-position: -99999px -99999px;
  }

  body:before {
      content: ""; 
      background-image: inherit; 
      position: fixed; 
      top: 0;
      left: 0;
      background-position-x: right;
      height: 100vh; 
      width: 100%; 
      -webkit-background-size: cover !important; 
      -moz-background-size: cover !important; 
      -o-background-size: cover; 
      background-size: cover !important;
      z-index: -1;
  }
}

a {
  color: rgb(86,156,214);
  text-decoration: none !important;
}

a:visited {
  color: rgb(86,156,214);
}

.inactive {
  color: white !important;
  cursor: pointer;
  text-decoration: none !important;
}

#root {
  width: 100%;
  min-height: 100vh;
}

div.wheel {
  width: 10vh;
  height: 10vh;
  border: 4px solid rgb(52,128,215);
  border-radius: 10vh;
  float: right;
  transform: translateY(-12vh);
}

div.wheel:hover {
  border: 4px solid rgb(156,220,254);
}

div.container {
  padding: 6px;
  text-align: center;
  font-size: calc(12px + 0.6vmin);
  border: 1.2px solid rgb(32,33,36);
  background: rgba(252, 251, 249, 0.9);
}

div.container.info {
  border: 1.2px solid rgb(255,180,23);
  padding: 16px 8px;
}

div.container.text {
  border: 1.2px solid rgb(32,33,36);
  padding: 16px 8px;
}

div.box {
  margin-bottom: 6vmin;
  box-shadow: calc(3px + 0.3vh) calc(2px + 0.2vh) calc(3px + 0.3vh) calc(0.4px + 0.1vh) #1A1B1D60;
}

.MenuItem {
  margin: 4px 0.5vmin;
  padding: 0 0.5em;
  text-align: center;
  display: inline-block;
}

nav a {
  background-color: rgb(32, 34, 38);
}

nav a:hover {
  background-color: rgb(59, 61, 66);
}

.monospaced {
  font-family: operator mono, source code pro, MS Mincho, monospace !important;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.selectable {
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
}

hr.head {
  margin: 5vmin 0 4vmin;
}

hr.splitor {
  margin: 2vmin 0 4vmin;
}

#NewText {
  width: 8vmin;
  height: 8vmin;
  min-width: 50px;
  min-height: 50px;
  background-color: rgb(247, 244, 237);
  border-radius: 2vmin;
  overflow: hidden;
  z-index: 1000;
  position: fixed;
  right: 4vmin;
  bottom: 12vmin;
  padding: 0.2vmin;
  text-align: center;
  border: 1px solid rgb(255,180,23);
}

p.date {
  text-align: left;
  font-size: 80%;
}

p.author {
  margin: 10px 1em 8px;
}

p.author span {
  font-style: italic;
}

span.views {
  font-size: 90%;
  font-style: inherit !important;
  float: right;
}

.doc {
  font-size: 80%;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  word-break: break-all;
}

.doc code {
  color: #2e343b;
  font-size: 90%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  padding: 0.2em 0.4em;
  margin: 0;
}

pre.tab {
  display: inline;
}

blockquote {
  padding: 0.4em 1em;
  border: 1px solid #96acbd60;
  border-left: 6px solid #96acbd;
  margin: 1em 0 1em;
}

code {
  background-color: #cdcdcda0;
}
