body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 3vmin);
  color: #20242A;
}

a {
  color: rgb(86,156,214);
  text-decoration: none !important;
}

a:visited {
  color: rgb(86,156,214);
}

.inactive {
  color: white !important;
  cursor: pointer;
  text-decoration: none !important;
}

#root {
  width: 100%;
  min-height: 100vh;
}

div.wheel {
  width: 10vh;
  height: 10vh;
  border: 4px solid rgb(52,128,215);
  border-radius: 10vh;
  float: right;
  transform: translateY(-12vh);
}

div.wheel:hover {
  border: 4px solid rgb(156,220,254);
}

div.container {
  padding: 6px;
  text-align: center;
  font-size: calc(12px + 0.6vmin);
  border: 1.2px solid rgb(32,33,36);
  background: rgba(252, 251, 249, 0.9);
}

div.container.info {
  border: 1.2px solid rgb(255,180,23);
  padding: 16px 8px;
}

div.container.text {
  border: 1.2px solid rgb(32,33,36);
  padding: 16px 8px;
}

div.box {
  margin-bottom: 6vmin;
  box-shadow: calc(3px + 0.3vh) calc(2px + 0.2vh) calc(3px + 0.3vh) calc(0.4px + 0.1vh) #1A1B1D60;
}

.MenuItem {
  margin: 4px 0.5vmin;
  padding: 0 0.5em;
  text-align: center;
  display: inline-block;
}

nav a {
  background-color: rgb(32, 34, 38);
}

nav a:hover {
  background-color: rgb(59, 61, 66);
}

.monospaced {
  font-family: operator mono, source code pro, MS Mincho, monospace !important;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.selectable {
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
}

hr.head {
  margin: 5vmin 0 4vmin;
}
